body {
	background-image: url("../img/stemwijzer.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

h1{
	font-family: Arial;
	font-size: 44px;
	color: blue;
}


p {
	font-family: Arial;
	font-size: 24px;
	
}