body {
	background-image: url("../img/stemwijzer.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

h1{
	font-family: Arial;
	font-size: 44px;
	color: #01B4DC;
	text-align: center;
}


p {
	font-family: Arial;
	font-size: 24px;
	text-align: center;
	
}

#main {
	background-color: white;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding-bottom: 30%;
	width: 75%;
	display: none;
}

.button{
	background-color: black;
	height: auto;
	
	border-radius: 5px;
	font-size: 25px;
	font-weight: bold;
	color: white;
	padding: 10px;
	text-align: center;
	transition: background-color .2s ease;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: initial;
}

.button:hover{
	background-color: #01B4DC;
	height: auto;
	display: inline;
	border-radius: 5px;
	font-size: 25px;
	font-weight: bold;
	color: white;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	transition: background-color .2s ease;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: initial;
}



#back {
	margin-right: 85%!important;
    margin-top: 25px!important;

}



